
{% extends 'base.html.twig' %}

{% block titulo %}Lista de productos {% endblock titulo %}


{% block contenido %}

	<h1>Listado de productos</h1>
	
	<table>
	<tr>
	<th>nombre:</th>
	<th>Precio:</th>
	<th>Stock:</th>
	<th>Categoria:</th>
	<th>Marca:</th>
	<th>Descripcion:</th>
	<th>Opciones</th>
	</tr>
	
	{% for p in productos %}
	<tr>
	
	<td>{{ p.getNombre()}}</td>
	<td>{{ p.getPrecio() }}</td>
	<td>{{ p.getStock }}</td>
	<td>{{ p.getCategoria().getNombre() }}</td>
	<td>{{ p.getMarca().getNombre() }}</td>
	<td>
	<a href="eliminar?sku={{ p.sku() }}">Eliminar</a>
	<a href="modificar?sku={{ p.sku() }}">Modificar</a>
	</td>
	
	</tr>
	{% endfor %}
	
	</table>
	<h4>{{ mensaje }}</h4>
	
	{% endblock contenido %}
